@import "../basic/base-config.css";

:root {
  /* 正文文本颜色，我稍微调亮了一点 */
  --text-color: #ddd;

  /* 超链接颜色，我调成了蓝色 */
  --link-color: #8bb1f9;

  /* 编辑页的背景颜色 */
  --bg-color: #1E1E1E;

  --strong-text-color: rgb(255, 255, 255);

  /* 标题颜色，我稍微调亮了一点 */
  --title-text-color: rgb(240, 240, 240);

  /* 行内代码字体 */
  --code-color: #8bb1f9;
  --code-background-color: #161616;
  --code-box-shadow-color: #141414;

  /* 引言字体颜色 */
  --blockquote-color: #888;

  /* 页边阴影 */
  --margin-shadow: #101010;
}



/* 编辑框外的背景色，独一份，light没有 */
html>body>content {
  background-color: #161616;
}



/* html 代码块颜色*/
.md-rawblock-on-edit>.md-rawblock-tooltip,
.md-rawblock:hover>.md-rawblock-container,
.md-rawblock:hover>.md-rawblock-tooltip {
  transition: background .5s linear;
  background: #333;
  border-radius: 4px 0px 4px 4px;
  display: block
}

.md-rawblock:hover>.md-rawblock-tooltip {
  transition: initial;
  animation: background .5s linear;
  border-radius: 4px 4px 0px 0px;
  display: block
}

.md-rawblock-control:not(.md-rawblock-tooltip) {
  background: #333;
  border-radius: 4px 0px 4px 4px
}

.md-htmlblock .md-rawblock-tooltip {
  border-radius: 4px 4px 0px 0px;
  z-index: 0
}
